In [1]:
print('hello world')

hello world

# ITERATIONS
for,while,

In [2]:
range(1,10)

range(1, 10)

In [3]:
range(10)

range(0, 10)

In [4]:
range(1,10,2)

range(1, 10, 2)

# for syntax:
#for var in range(start,end,differ):
#statements

In [6]:

a=input("enter name")
for i in range(1,11):
    print(a)

enter nameuma venkatesh
uma venkatesh
uma venkatesh
uma venkatesh
uma venkatesh
uma venkatesh
uma venkatesh
uma venkatesh
uma venkatesh
uma venkatesh
uma venkatesh

In [10]:
a= input("enter name")
for i in range(1,100):
    print(i,end = " ")

enter name2
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [17]:
for i in range(1,100):
    if i%2==0:
        print(i,end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [16]:
for i in range(1,101):
    if i%2!=0:
        print(i,end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [22]:
g=int(input('enter a number'))
if g%2==0:
        print("even",g) 
else:
            print("odd",g)

enter a number25
odd 25

In [24]:
t=int(input('enter table number'))
t_len=int(input('enter table length:'))
for i in range(1,t_len+1):
    #17*1=17
    print('{} * {} = {}'.format(t,i,t*i))

enter table number17
enter table length:20
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
17 * 11 = 187
17 * 12 = 204
17 * 13 = 221
17 * 14 = 238
17 * 15 = 255
17 * 16 = 272
17 * 17 = 289
17 * 18 = 306
17 * 19 = 323
17 * 20 = 340

In [25]:
#finding factors of a given number
n=int(input('enter number:'))
for i in range(1,n+1):
    if n%i==0:
        print(i)

enter number:10
1
2
5
10

In [26]:
n=int(input('entr nmber'))
for i in range(1,n+1):
    if n%i==0:
        print(i,end = ' ')

entr nmber10
1 2 5 10

In [29]:
#find number of factors
n=int(input('enter number'))
cnt=0
for i in range(1,n+1):
    if n%i==0:
        cnt+=1
        print(i,end = ' ')
print('factors count is:',cnt)

enter number50
1 2 5 10 25 50 factors count is: 6

In [31]:
#check prime
n=int(input('enter number'))
cnt=0
for i in range(1,n+1):
    if n%i==0:
        cnt+=1
        print(i,end = ' ')
print('factors count is:',cnt)
if cnt==2:
    print('prime')
else:
        print('not prime')

enter number10
1 2 5 10 factors count is: 4
not prime

# while
while condition:
#statements

In [33]:
i=1#start value
while i<11:
    print(i,end = ' ')
    i+=1#step value

1 2 3 4 5 6 7 8 9 10