In [9]:
g='ABCefg123@%ABCabc'
for i in range(1,18)
    if ord(i)>65&&ord(i)<90:
        print(g.isupper(),end="")
    else()
    print('no')

SyntaxError: invalid syntax (<ipython-input-9-fae5391ed452>, line 2)

In [5]:
ord('z')

122

In [10]:
dir(g)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
l1=['nani','uma','venkatesh',123,4567]#to extend a particular one
l1.extend('uma')

In [12]:
l1

['nani', 'uma', 'venkatesh', 123, 4567, 'u', 'm', 'a']

In [15]:
l1=['nani','uma','venkatesh',123,4567]
l1.index('a')

ValueError: 'a' is not in list

In [16]:
l1.insert(0,'SDC')

In [17]:
L1

NameError: name 'L1' is not defined

In [18]:
l1

['SDC', 'nani', 'uma', 'venkatesh', 123, 4567]

In [20]:
l1.insert(-1,2)

#

In [21]:
l1

['SDC', 'nani', 'uma', 'venkatesh', 123, 2, 4567]

In [22]:
l[-1]

NameError: name 'l' is not defined

In [23]:
l1.append('python')
print(l1)

['SDC', 'nani', 'uma', 'venkatesh', 123, 2, 4567, 'python']

In [25]:
l1.append(10)

#

In [26]:
l1

['SDC', 'nani', 'uma', 'venkatesh', 123, 2, 4567, 'python', 10]

In [27]:
l1.pop()#using pop last element only delete

10

In [28]:
l1

['SDC', 'nani', 'uma', 'venkatesh', 123, 2, 4567, 'python']

In [29]:
l1.pop()

'python'

In [30]:
l1

['SDC', 'nani', 'uma', 'venkatesh', 123, 2, 4567]

In [33]:
l1.remove('nani')#remove a particular value

ValueError: list.remove(x): x not in list

In [32]:
l1

['SDC', 'uma', 'venkatesh', 123, 2, 4567]

In [34]:
l1

['SDC', 'uma', 'venkatesh', 123, 2, 4567]

In [35]:
l1.clear()

In [36]:
l1

[]

In [37]:
l1=['uma','venkatesh','ramu','raju']
l1[::-1]

['raju', 'ramu', 'venkatesh', 'uma']

In [38]:
l1.reverse()

In [39]:
l1

['raju', 'ramu', 'venkatesh', 'uma']

In [40]:
l1.sort()#to sort the elements in the list

In [41]:
l1

['raju', 'ramu', 'uma', 'venkatesh']

In [42]:
l1=[10,5,6,157,0.02,87]
l1.sort()

In [43]:
l1

[0.02, 5, 6, 10, 87, 157]

In [46]:
l1.sort()
print(l1)
l2=l1
l2.reverse()
print(l2)

[0.02, 5, 6, 10, 87, 157]
[157, 87, 10, 6, 5, 0.02]

In [74]:
#Task 
a='1,2,3,4,5,"Ramu","raju","srinivas","suresh","naresh"'
a=a.split(',')
numbers=[]
b=[]
for i in a:
    if i.isdigit():
        numbers.append(int(i))
    else:
        
               b.append(i)
print(numbers)
print(b)

[1, 2, 3, 4, 5]
['"Ramu"', '"raju"', '"srinivas"', '"suresh"', '"naresh"']

In [52]:
n=[10,5,15,2]
t=0
for i in range(0,len(n)):
    for j in range(i+1,len(n)):
        if n[i]>n[j]:
            t=n[i]
            n[i]=n[j]
            n[j]=t
print(n)

[2, 5, 10, 15]